BpelModule1/src/newWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="newWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL" xmlns:tns="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL">
            <xsd:complexType name="hamandeggs">
                <xsd:sequence>
                    <xsd:element name="eggs" type="xsd:int"></xsd:element>
                    <xsd:element name="dishes" type="xsd:int"></xsd:element>
                    <xsd:element name="airseconds" type="xsd:int"></xsd:element>
                    <xsd:element name="bakeseconds" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="request" type="tns:hamandeggs"></xsd:element>
            <xsd:element name="response" type="xsd:boolean"></xsd:element>
        </xsd:schema>
    </types>
    <portType name="newWSDLPortType">
        <operation name="hamandeggs">
            <input name="input1" message="tns:newWSDLOperationRequest"/>
            <output name="output1" message="tns:newWSDLOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="newWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="newWSDLPortTypeRole" portType="tns:newWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
